VisualElement {
  display: flex;
  justify-content: flex-end;
}

Label {
  -unity-text-align: right;
  font-size: 45px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}